{:deps {:aliases [:shadow-cljs]}
 :dev-http {8080 "public"}
 :nrepl {:middleware []}
 :source-paths ["src"]
 :builds {:frontend {:target :browser
                     :devtools {:repl-pprint true
                                :repl-init-ns app
                                :after-load app/init}
                     :compiler-options {:optimizations :simple
                                        :source-map true}
                     :output-dir "public/out"
                     :asset-path "out"
                     :modules {:main {:init-fn app/init}}}
          :bootstrap-support {:target :bootstrap
                              :output-dir "public/out/bootstrap"
                              :exclude #{cljs.js}
                              :entries [cljs.js]}}}
